@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  position: relative;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}



.card:hover:before,
.card:hover:after {
  opacity: 1;
}


.card::before {
  opacity: 0;
  content: "";
  width: 260px;
  height: calc(100% - 28px);
  border-radius: 1.7rem;
  position: absolute;
  z-index: 1;
  top: 14px;
  left: 15px;
  animation: spin 2.5s linear infinite;
}

.card::after {
  opacity: 0;
  position: absolute;
  content: "";
  top: calc(100px / 6);
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(500px / 6));
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card.CardRemove::before {
  background-image: linear-gradient(
    var(--rotate),
    #f87272,
    #14213d 43%,
    #f87272
  );
}
.card.CardRemove::after {
  background-image: linear-gradient(
    var(--rotate),
    #f87272,
    #14213d 43%,
    #f87272
  );
}

.card.CardEdit::before {
  background-image: linear-gradient(
    var(--rotate),
    #f3af32 , 
    #14213d 43%,
    #f3af32 
    
  );
}
.card.CardEdit::after {
  background-image: linear-gradient(
    var(--rotate),
    #f3af32 , 
    #14213d 43%, 
    #f3af32 

  );
}
.card.CardMove::before {
  background-image: linear-gradient(
    var(--rotate),
    #3abff8 , 
    #14213d 43%,
    #3abff8 
    
  );
}
.card.CardMove::after {
  background-image: linear-gradient(
    var(--rotate),
    #3abff8 , 
    #14213d 43%, 
    #3abff8 

  );
}
